.svg{
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
}
.header__icon{
    height: 16px;
    width: 16px;
    position: relative;
    fill: #ffffff;
    bottom: -3px;
}
.header__icon:hover{
    fill: #fce38a;
    transition: 0.1s;
}

.header, .header__nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    max-width: 1260px;
    height: 90px;
    padding: 0px 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.header__nav{
    width: 53%;
}
.header__link{
    text-transform: uppercase;
    font-family: 'Montserat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    transition: ease-in-out 0.3s; 
    padding-bottom: 5px;
    color: #ffffff;
    padding: 5px 5px 0px;  
}
.header__link:hover{
    padding-bottom: 20px;
    transition: ease-in-out 0.4s;
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
    z-index: 1;
    
}
.header__logo{
    font-size: 30px;
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}
.main{
    background: url(../img/background.jpg) no-repeat;
    width: 100%;
    height: 1000px;
    background-size: 100% 100%;
}
.main__wrapper{
    position: absolute;
    background: linear-gradient(to bottom, #e78282, #f0d98a);
    width: 100%;
    height: 1000px;
    opacity: 0.9;
    text-align: center;
}
.main__headline, .services__headline, .team__headline{
    font-family: 'Kaushan Script', sans-serif;
    text-align: center;
    margin: 0px auto;
}
.main__headline{
    margin: 180px auto 0px;
    font-size: 72px;
    color: #ffffff;
}
.main__headline2, .services__headline2, .team__headline2{
    font-size: 150px;  
    text-transform: uppercase;
    margin: 0px auto;  
}
.main__headline2{
    max-width: 980px;
    line-height: 130px;
    color: #ffffff;
}
.main__button{
    width: 160px;
    height: 40px;
    background: none;
    border: solid 3px #ffffff;
    color: #ffffff;
    margin-top: 80px;

}
.main__button:hover{
    cursor: pointer;
}
.services__headline, .services__headline2{
    color: #000000;
}
.services__headline, .team__headline{
font-size: 24px;
margin-top: 45px;
}
.services__headline2, .team__headline2{
    font-size: 30px;
    text-align: center;
    position: relative;
    line-height: 60px;
}
.services__headline2:after, .team__headline2:after{
    content: "";
    border: 3px solid #f38181;
    width: 60px;
    position: absolute;
    display: flex;
    bottom: -24px;
    right: 0;
    left: 0;
    margin: 0px auto;

}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__list{
    max-width: 1200px;
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 48px 0px 0px;

}
.services__items{
    width: calc((100% - 60px) / 3);
    margin: 50px 10px 0px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
.services__icon{
    width: 32px;height: 32px;
    margin: 0px 20px;
}
.services__headline3{
    margin-top: 0px;
    font-family: 'Montserat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
}
.services__text{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.services__wrapper{
    width: calc(100% - 72px);
}
.team__about{
    display: flex;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 980px;
    margin: 60px auto 0px
}
.team__cards{
    list-style: none;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding: 0px;
    margin: 90px auto 75px;
    position: relative;
}
.team__outwrapper{
    background-color: #95e1d3;
    height: 470px;
    width: 380px;
}
.team__photo{
    width: 380px;
    height: 470px;
    size: cover;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in;
}
.team__inner-wrapper{
    position: absolute;
    width: 1px;
    height: 1px;
    background: linear-gradient(to bottom, rgba(238,137,138,0.9), rgba(237,214,134,0.9) );
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(-10px, -10px);
    transition: transform 0.5s ease-in;

}
.team__outwrapper:hover .team__inner-wrapper{
    transition: opacity 500ms ease-in-out,
    z-index 500ms, height 500ms ease-in-out,
    width 500ms ease-in-out;
    transition-duration: 0.5s;
    opacity: 1;
    z-index: 1;
    height: 475px;
    width: 380px;

}
.team__members{
    width: 380px;
    height: 550px;
    display: flex;
    flex-flow: column;

}
.team__members:hover .team__photo{
    transform: translate(-10px, -10px);
    transition-duration: 200ms;
}
.team__icon{
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    margin: 0px;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    fill: #F38181;
 
}
.team__icon:hover{
    background-color: #f38181;

}
.team__icon:hover{
    fill: #ffffff;
}
.team__svgwrapper{
    width: 223px;
    height: 55px;
    justify-content: space-between;
    display: flex;
}
.team__link{
    width: 55px;
    height: 55px;
    target: _blank;
}
.footer{
    height: 65px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.footer__designed{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.footer__link{
    color: #f38181;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
.footer__form{
    height: 40px;
    width: 380px;
    display: flex;
    align-items: center;
}
.footer__subscribe{
    width: 150px;
    background-color: #95e1d3;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #fff;
    border-style: none;
    height: 40px;
    cursor: pointer;
}
#footer__subscribe{
    height: 36px;
    width: 230px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-width: 1px;
    padding-left: 12px;
}
.team__profession{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
    margin-top: 12px;  
}
.team__name{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}
.team__cards:after{
    border: solid 1px #e5e5e5;
    margin-top: 10px;
    content: "";
    bottom: -75px;
    width: 1200px;
    display: flex;
    position: absolute;
    display: block;
}