@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url(../Montserrat-Regular.ttf) format(ttf);
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');
@font-face{
    font-family: 'montserat';
    src: url(./Montserrat-Bold.ttf) format(ttf);
    font-weight: bold;
}
