@font-face{
    font-family: 'Montserat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Montserat';
    src: url(../fonts/montserrat-v12-latin-regular.woff);
    font-weight: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/roboto-v18-latin-regular.woff);
    font-weight: normal;
}@font-face{
    font-family: 'Roboto';
    src: url(../fonts/roboto-v18-latin-300.woff);
    font-weight: 300;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/roboto-v18-latin-900.woff);
    font-weight: 900;
}
@font-face{
    font-family: 'Kaushan Script';
    src: url(../fonts/KaushanScript-Regular.woff);
    font-weight: normal;
}