<<<<<<< HEAD
$MainWhiteColor: #fff;
$MainYellowColor: #fce38a;
$MainOrangeColor: #F38181;
=======
$MainWhiteColor: #fff;
$MainYellowColor: #fce38a;
$MainOrangeColor: #F38181;
>>>>>>> 4cee709a47356c8fa6fbee3a884eeb098d72da97
$MainBlueColor: #95e1d3;