*{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.logo{
    font-family: 'montserat', 'roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}
.headnavi{
    width: 1200px;
    margin: 15px auto 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between; 
   
}
header{
    height: 50px;
    
}
.headnavi a{
    text-decoration: none;
}
.headnavi li{
    font-family: 'montserat', 'roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 490px;
    color: #95e1d3;
    
    
}
.navigation li:hover{
    color: #f38181;
    cursor: pointer;

}
.navigation li:hover::after{
    width: 50px;
    content: "";
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 12px;
    border: #f38181 solid 1px;   

}

h2{
    font-family: 'Kaushan Script', serif;
    font-size: 24px;
    font-weight: 400;
}
h2::first-letter{
    text-transform: uppercase;
}
.container{
    margin: 85px auto 0px;
    display: flex;
    width: 1200px;
    height: 420px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: lightblue; */
}
h3{
    font-family: 'montserat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
h3:after{
    content: "";
    border: #f38181 solid 2px;
    width: 60px;
    display: flex;
    margin: 40px auto 0px;
    /* position: absolute; */
    

}
.container .services{
    height: 80px;
    width: 380px;
    flex-flow: row wrap;
    display: flex;
    position: relative;
}
.servisbox{
    display: flex;
    width: 1180px;
    height: 240px;
    margin-top: 180px;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.icons{
    width: 80px;
    height: 80px;
}
.icons svg{
    margin: 4px 0px 0px 20px;

}
h4{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
}
.services span{
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    line-height: 25px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    
}
.ourteam{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1200px;
    height: 920px;
    margin: 90px auto 0px;
    position: relative;
}
.ourteam p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 950px;
    text-align: center;
    margin-top: 50px;
}
.team{
    width: 1200px;
    height: 625px;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}
.peoples{
    width: 380px;
    height: 545px;
    display: flex; 
    flex-direction: column;
}
.peoples img{
    width: 380px;
    height: 475px;   
    transform: translate(0, 0);
    transition: transform 0.5s ease-in;
    position: relative;
}
.profession{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;  
    margin-top: 12px;  
}
.name{
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-top: 25px;


    
}
.team::after{
    border: solid 1px #e5e5e5;
    margin-top: 10px;
    content: "";
    bottom: 0px;
    width: 1200px;
    display: flex;
    position: absolute;
}
.outwrapper{
    width: 380px;
    height: 475px;
    background-color: #95e1d3;
    position: relative;
}

.wrapper{
    position: absolute;
    width: 1px;
    height: 1px;
    background: linear-gradient(to bottom, rgba(238,137,138,0.9), rgba(237,214,134,0.9) );
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in;
}
.icons-2{
    background-color: #fce38a;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-right: 1px;
    justify-content: center;
    
}
.icons-2 svg{
    fill: #f38181;

}
.icons-2:last-of-type{
    margin-right: 0px;
}
.icons-2:hover{
    background-color: #95e1d3;
    cursor: pointer;
}
.outwrapper:hover .wrapper,
.outwrapper:hover img 
{   
    transform: translate(-10px, -10px);
    transition-duration: 200ms;

}
.outwrapper:hover .wrapper{
    transition: opacity 200ms ease-in-out,
    z-index 200ms, height 500ms ease-in-out,
    width 500ms ease-in-out;
    transition-duration: 0.4s;
    opacity: 1;
    z-index: 1;
    height: 475px;
    width: 380px;
}
footer{
    height: 65px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
footer p, footer span
{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;

}
footer span{
    color: #f38181;
}
input:first-of-type{
    height: 38px;
    width: 230px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border-width: 1px;
}
.Subscribe{
    width: 150px;
    background-color: #95e1d3;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #fff;
    border-style: none;
    height: 40px;

}
form{
    height: 40px;
    width: 380px;
    display: flex;
    align-items: center;
}
